.logo-div {
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 94px;
  display: flex;
  align-items: center;
  margin-left: -232px;
  background-color: white;
  width: 415px;
  height: 128px;
  padding-left: 15px;
  padding-top: -4px;
}

.logo-image {
  height: auto;
  width: 128px;
  padding-left: 10px;
}



.main-body {
  background-image: url("../images/mountain-scenic.jpg");
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.map {
  border-right: solid;
  border-left: solid;
  border-bottom: solid;
  border-top: solid;
  border-color: grey;
  height: 500px;
  margin-left: 64px;
  color: white;
  text-align: center;
}

.right-of-map {
  border-right: solid;
  border-left: solid;
  border-bottom: solid;
  border-top: solid;
  border-color: white;
  height: 500px;
  background-color:black;
  color: white;
  text-align: center;
  overflow-y: scroll;
}

.collection-item {
  color: black;
}

.articles-go-here {
  border-right: solid;
  border-left: solid;
  border-bottom: solid;
  border-top: solid;
  border-color: white;
  width: 60%;
  height: 500px;
  background-color: grey;
  opacity: .8;
  color: white;
  text-align: center;
}

.results {
  background-color: white;
  padding-top: 20px;
  width: flex;
}


.input-row {
  margin-left: -1px;
  background-color: white;
  width: 1000px;
  height: 90px;
  text-align: center;
  padding-left: 33px;
}

#distance-display{
  background-color: #3E5641;
  color:white;
}

.card-title {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  width: 100%;
}

.search-origin-address {
  padding: 5px;
  font-size: 30px;
  color:red;
  opacity: .8;
}

.pac-card {
  background-color:#3E5641;
  color:white;
  text-align:left;
  padding-left:20px;
  padding-bottom:10px;
}

.collection-item:first-child,
.collection-item:last-child{
    background-color:#646F58;
    color: white;
}
.pac-controls{
  padding-bottom: 10px;
  color:white !important;
}
#type-selector{
    color:white;
}